[submodule "ros2_ws/src/iahrs_driver_ros2"]
	path = ros2_ws/src/iahrs_driver_ros2
	url = https://github.com/URC-kaist/iahrs_driver_ros2
[submodule "ros2_ws/src/rtcm_msgs"]
	path = ros2_ws/src/rtcm_msgs
	url = https://github.com/tilk/rtcm_msgs
[submodule "ros2_ws/src/ublox_dgnss"]
	path = ros2_ws/src/ublox_dgnss
	url = https://github.com/aussierobots/ublox_dgnss.git
