[submodule "rover/ros2_ws/src/rtcm_msgs"]
	path = rover/ros2_ws/src/rtcm_msgs
	url = https://github.com/tilk/rtcm_msgs
[submodule "rover/ros2_ws/src/ublox_dgnss"]
	path = rover/ros2_ws/src/ublox_dgnss
	url = https://github.com/aussierobots/ublox_dgnss.git
