[Unit]
Description=MR2 local XBEE simulation PTY pair
After=local-fs.target

[Service]
Type=simple
User=__MR2_USER__
Group=__MR2_GROUP__
RuntimeDirectory=mr2
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/socat -d -d pty,raw,echo=0,link=/run/mr2/xbee_rover,mode=0660 pty,raw,echo=0,link=/run/mr2/xbee_gateway,mode=0660
ExecStartPost=/bin/sh -c 'i=0; while [ ! -e /run/mr2/xbee_rover ] || [ ! -e /run/mr2/xbee_gateway ]; do i=$$((i + 1)); [ "$$i" -lt 50 ] || exit 1; sleep 0.1; done'
ExecStopPost=/usr/bin/rm -f /run/mr2/xbee_rover /run/mr2/xbee_gateway
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
