[Unit]
Description=MR2 Rover ROS2 Launch Service
After=network.target

[Service]
Type=simple
User=rover
ExecStart=/home/rover/ros2_ws/script/rover_startup.sh
Restart=on-failure
Environment=DISPLAY=:0
Environment=ROS_DOMAIN_ID=0

[Install]
WantedBy=multi-user.target
