<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mr2_manipulator_ak_can">
  <xacro:arg name="can_iface" default="can0"/>

  <link name="base_link"/>

  <xacro:include filename="manipulator.xacro"/>
  <xacro:include filename="$(find mr2_rover_description)/ros2_control/rover_can.ros2_control.xacro"/>

  <xacro:manipulator/>

  <xacro:rover_can_ros2_control name="ArmCanSystem" can_iface="$(arg can_iface)"/>
</robot>
