<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">
  <xacro:arg name="can_iface" default="can0"/>
  <xacro:arg name="ros2_control_mode" default="gazebo"/>
  <xacro:arg name="ros2_control_config" default="$(find mr2_rover_description)/config/controllers/rover_controllers.yaml"/>
  <xacro:property name="ros2_control_mode_value" value="$(arg ros2_control_mode)"/>
  <xacro:property name="ros2_control_config_value" value="$(arg ros2_control_config)"/>
  <xacro:property name="can_iface_value" value="$(arg can_iface)"/>
  <material name="Rubber">
    <color rgba="0.05 0.05 0.05 1.0"/>
  </material>

  <!-- Include component macros -->
  <xacro:include filename="$(find mr2_rover_description)/urdf/rover_base.xacro"/>
  <xacro:include filename="$(find mr2_rover_description)/urdf/swerve_module.xacro"/>
  <xacro:include filename="$(find mr2_rover_description)/urdf/manipulator.xacro"/>
  <xacro:include filename="$(find mr2_rover_description)/ros2_control/rover_can.ros2_control.xacro"/>
  <xacro:include filename="$(find mr2_rover_description)/ros2_control/rover_gazebo.ros2_control.xacro"/>
  <xacro:include filename="$(find mr2_rover_description)/urdf/rover_gazebo_sensors.xacro"/>
  <!-- Chassis -->
  <xacro:rover_base/>
  <!-- Four modules -->
  <xacro:swerve_module prefix="fl" parent="left_rocker" xyz=" 0.47 -0.08 -0.18"/>
  <xacro:swerve_module prefix="fr" parent="right_rocker" xyz=" 0.47 0.08 -0.18"/>
  <xacro:swerve_module prefix="rl" parent="left_rocker" xyz="-0.47 -0.08 -0.18"/>
  <xacro:swerve_module prefix="rr" parent="right_rocker" xyz="-0.47 0.08 -0.18"/>
  <!-- Manipulator -->
  <xacro:manipulator/>

  <xacro:if value="${ros2_control_mode_value == 'gazebo'}">
    <xacro:rover_gazebo_sensors ros2_control_config="${ros2_control_config_value}"/>
    <xacro:rover_gazebo_ros2_control name="GazeboSimSystem"/>
  </xacro:if>
  <xacro:if value="${ros2_control_mode_value == 'real_hardware'}">
    <xacro:rover_can_ros2_control name="RoverCanSystem" can_iface="${can_iface_value}"/>
  </xacro:if>
</robot>
