<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="single_joint">
  <xacro:arg name="can_iface" default="can0"/>

  <link name="base_link"/>
  <link name="link1"/>

  <joint name="joint1" type="revolute">
    <parent link="base_link"/>
    <child link="link1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="10" velocity="1"/>
  </joint>

  <ros2_control name="CanSystem" type="system">
    <hardware>
      <plugin>mr2_can_hardware_interface/CanHW</plugin>
    </hardware>

    <joint name="joint1">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <param name="actuator">motor4</param>
      <param name="device_plugin">mr2_devices_ak_servo/AkServoDevice</param>
      <param name="motor_id">4</param>
      <param name="can_iface">$(arg can_iface)</param>
    </joint>

    <transmission name="joint1_transmission">
      <plugin>transmission_interface/SimpleTransmission</plugin>
      <actuator name="motor4" role="motor4">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </actuator>
      <joint name="joint1" role="joint1">
        <mechanical_reduction>1.0</mechanical_reduction>
      </joint>
    </transmission>
  </ros2_control>
</robot>

